<% include partials/header %>
    <div class="container">
        <h3>Add a Feature</h3>
        <form>
            <div class="form-group">
                <label>Feature Name:</label>
                <input type="text" class="form-control" id="featureName" placeholder="Backyard">
            </div>
            <button class="btn btn-outline-primary d-block" id="addNewFeature" type="submit">Submit</button>


        </form>
    </div>
    <% include partials/footer %>