<% include partials/header %>

<style>
    body {background: url(/styles/img/car.jpg) no-repeat center center fixed;}
    h1   {color: blue;}
    p    {color: white;}
</style>

    <img src="/styles/img/parkingSpace.png" alt="Parking Logo" class="img-responsive mx-auto d-block" style="width:450px;height:200px;">
    <div class="welcome";>
        <p>Parking Space connects people looking for parking with people who have parking to rent. 
        <br> Do you have an extra space in your driveway? Publish it today and start earning extra cash!
        <br> Your home is an asset you can rent and turn into money when you aren’t using it. Your driveway is no different. 
        <br> In need of a parking space? Reserve your parking space in advance or search for available parking on demand.       
    </div>


<% include partials/footer %>