<% include partials/header %>
    <div class="container">
        <form>
            <div class="form-group">
                <label>Type Of Space</label>
                <!-- <input type="text" class="form-control" id="typeOfSpace" placeholder="Backyard"> -->
                <select class="form-control" id="typeOfSpace">
                    <option>Driveway</option>
                    <option>Backyard</option>
                    <option>Garage</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group">
                <label>Zip Code</label>
                <input type="text" class="form-control" id="zipCode" placeholder="33199">
            </div>
            <div class="form-group">
                <label>Price</label>
                <input type="text" class="form-control" id="price" placeholder="$500">
            </div>
            <div class="form-group">
                <label>Size(SQ Feet)</label>
                <input type="number" class="form-control" id="size" placeholder="200">
            </div>
            <div class="form-group">
                <label>Description</label>
                <textarea class="form-control" id="description" placeholder="Great for boats"></textarea>
            </div>
            <div class="features">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="feature1" data-icon="fa-window-close-o" value="Gated">
                    <label class="form-check-label" for="feature1">Gated</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="feature2" data-icon="fa-lock" value="Security">
                    <label class="form-check-label" for="feature2">Security</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="feature3" data-icon="fa-lightbulb-o" value="Lit">
                    <label class="form-check-label" for="feature3">Lit</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="feature4" data-icon="fa-bolt" value="Power">
                    <label class="form-check-label" for="feature4">Power</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="feature5" data-icon="fa-umbrella" value="Covered">
                    <label class="form-check-label" for="feature5">Covered</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="feature6" data-icon="fa-home" value="Indoor">
                    <label class="form-check-label" for="feature6">Indoor</label>
                </div>
            </div>
            <hr>
            <!-- <div class="form-group">
                    <label>Image</label>
                    <input type="file" class="form-control-file" id="file">
                  </div> -->

            <button class="btn btn-outline-primary float-right" id="submitNewSpace" type="submit">Submit</button>


        </form>
    </div>
    <% include partials/footer %>