<% include partials/header %>

    <h1><%= space[0].space.type %></h1>
    <h1><%= space[0].space.id %></h1>

    <h1><%= space[0].space.description %></h1>

    <h1><%= space[0].space.price %></h1>


<% include partials/footer %>